# Companies API Example

## Setup
Install the Signal Ocean SDK:
```
pip install signal-ocean
```
And put your API key in a `SIGNAL_OCEAN_API_KEY` environment variable.

In [1]:
from signal_ocean.companies import CompaniesAPI
import pandas as pd

## Call the Companies API
The Companies API retrieves information about companies.

In [2]:
api = CompaniesAPI()

#### Get company by id

In [3]:
company_id = 1926
c = api.get_company(company_id)
print(f'Company {company_id}: {c.company_name} ({c.website})')

Company 1926: Signal Maritime (http://signalmaritime.com/)

#### Get details for all companies

In [4]:
companies = api.get_companies()

In [5]:
len(companies)

4108

In [18]:
df = pd.DataFrame([x.__dict__ for x in companies])

In [21]:
df.columns

Index(['id', 'updated_date', 'company_name', 'website', 'fleet_list',
       'synonyms', 'charterer_vessel_types',
       'commercial_operator_vessel_types', 'geo_asset_owner_vessel_types',
       'broker_vessel_types', 'port_agent_vessel_types', 'parent_company_id',
       'children_companies_ids'],
      dtype='object')

In [8]:
df.head(10)

,id,updated_date,company_name,website,fleet_list,synonyms,charterer_vessel_types,commercial_operator_vessel_types,geo_asset_owner_vessel_types,broker_vessel_types,port_agent_vessel_types,parent_company_id,children_companies_ids
0,3,2018-06-22 14:09:27,Abiola Shipping,http://www.equasis.org/EquasisWeb/restricted/C...,None,None,None,[Tanker],None,None,None,NaN,None
1,5,2018-08-08 09:39:21,Abu Dhabi,https://adnoc.ae/adnoc-onshore/notification,None,None,None,None,[Tanker],None,None,NaN,None
2,6,2016-10-31 16:32:56,Abu Dhabi Gas Industries,http://www.gasco.ae/en/Pages/Index.aspx,None,[Gasco],None,None,[Tanker],None,None,NaN,None
3,7,2016-10-31 16:32:56,Abu Dhabi Marine Operating Company,http://www.adma-opco.com/en/home/index.aspx?&P...,None,[ADMA-OPCO],None,None,[Tanker],None,None,NaN,None
4,8,2016-10-31 16:32:56,Abu Dhabi Oil Company,http://adocauh.cts-co.net/,None,[ADOC],[Tanker],None,[Tanker],None,None,NaN,None
5,9,2016-10-31 16:39:13,Abu Dubai Oil Refining Company,http://www.takreer.com/index.html,None,[TAKREER],None,None,[Tanker],None,None,NaN,None
6,10,2016-10-31 16:32:56,Aca Sa,http://www.acacitv.com/,None,None,None,None,[Tanker],None,None,NaN,None
7,12,2016-10-31 16:32:56,Ace Tankers,http://www.ace-tankers.com/,http://www.ace-tankers.com/fleet.html,None,None,[Tanker],None,None,None,NaN,None
8,13,2016-10-31 16:32:56,Aceitera General,https://www.agd.com.ar/en/home/,None,[AGD],[Tanker],None,None,None,None,NaN,None
9,16,2016-12-23 17:55:50,Achema Group,http://www.achemosgrupe.lt/en/who-we-are/,None,None,None,None,[Tanker],None,None,NaN,None

#### Get all companies the name of which contains the term Maritime

In [9]:
companies = api.get_companies('maritime')

In [10]:
len(companies)

169

In [11]:
df = pd.DataFrame([x.__dict__ for x in companies])

In [12]:
df.head(10)

,id,updated_date,company_name,website,fleet_list,synonyms,charterer_vessel_types,commercial_operator_vessel_types,geo_asset_owner_vessel_types,broker_vessel_types,port_agent_vessel_types,parent_company_id,children_companies_ids
0,43,2016-10-31 16:32:56,Al Rekab Global Maritime,http://marbnet.com/directory/listing/al-rekab-...,None,None,None,[Tanker],None,None,None,NaN,None
1,53,2019-07-30 11:25:15,Alma Maritime,http://www.almamaritime.com/,http://www.almamaritime.com/content/fleet/004/...,None,None,"[Tanker, Dry]",None,None,None,NaN,None
2,66,2016-10-31 16:32:56,Alvan Maritime,https://opencorporates.com/companies/pa/744162,None,None,None,[Tanker],None,None,None,NaN,None
3,81,2016-10-31 16:32:56,Andros Maritime,http://www.logisticscout.com/company-andros-ma...,None,None,None,[Tanker],None,None,None,NaN,None
4,95,2018-05-11 08:29:26,Arab Maritime Petroleum Transport,http://www.amptc.net/,http://www.amptc.net/,[AMPTC],None,[Tanker],None,None,None,NaN,None
5,118,2018-06-27 12:31:03,Associated Maritime,http://www.hkmw.com.hk/webappen/main.asp?sid=455,http://www.hkmw.com.hk/webappen/main3.asp?sid=482,[AMCL],None,"[Tanker, Dry]",None,None,None,NaN,[286]
6,124,2016-10-31 16:32:56,Atlas Maritime,http://www.atlasmaritime.eu/,http://www.atlasmaritime.eu/fleet,None,[Tanker],None,None,None,None,NaN,None
7,168,2016-10-31 16:32:56,Belavero Maritime,http://marbnet.com/directory/listing/belavero-...,None,None,None,[Tanker],None,None,None,NaN,None
8,203,2016-10-31 16:32:56,Boray Maritime,http://www.world-ships.com/company/df76f52c5e4...,None,None,None,[Tanker],None,None,None,NaN,None
9,226,2018-07-06 13:08:51,Byzantine Maritime,http://www.bmc.gr/,http://www.bmc.gr/fleet/Fleet.htm,[BMC],None,"[Tanker, Dry]",None,None,None,NaN,None

In [13]:
df[df['company_name'].str.startswith('Signal')]

,id,updated_date,company_name,website,fleet_list,synonyms,charterer_vessel_types,commercial_operator_vessel_types,geo_asset_owner_vessel_types,broker_vessel_types,port_agent_vessel_types,parent_company_id,children_companies_ids
61,1926,2018-10-08 12:51:54,Signal Maritime,http://signalmaritime.com/,http://signalmaritime.com/,None,None,"[Tanker, Dry]",None,None,None,NaN,None